{% load static %}
<!DOCTYPE html>

<html>
<head>
  <title>Forum Ongames</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" />
  
</head>
<body>
  {% block content %}
    <h1>Fórum </h1>
    {% if user.is_authenticated %}
      <p>Welcome, {{ user.username }}!</p>
      {% comment %} <a href="{% url 'create_post' %}">Create Post</a> {% endcomment %}
    {% else %}
      <p>Bem vindo, Visitante</p>
      <a href="{% url 'account_login' %}">Log in</a>
      <a href="{% url 'account_signup' %}">Sign up</a>
    {% endif %}
    <hr>
  {% endblock %}
</body>
</html>
